<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Data</title>
</head>

<body>
    <div>Player Name: <%= un %></div>
    <div>This player is not found. Common issues is incorrect username or platform selection!</div>
    <div><a href="/">Try Again</a></div>
</body>

</html>