<%- include('header'); -%>
<div>Player Name: <%= un %></div>
<div>This player is not found. Common issues is incorrect username or platform selection!</div>
<div><a href="/">Search Another Player</a></div>
<%- include('footer'); -%>